body {
  color: #070707;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
}

h4 {
  font-family: 'Titillium Web', sans-serif;
}

.headerBackground {
  background-color: #2d795b;
}

.main {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.mainDiv {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

.mainSection {
  position: relative;
  overflow: hidden;
  text-align: center;
  white-space: pre;
}

.mainContainer {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}

.mainHeading {
  font-size: 5.25rem;
  line-height: 1.05;
  letter-spacing: -0.03em;
  font-weight: 600;
}

.mainHeadingTwo {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.mainButton {
  margin: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.15s cubic-bezier(0.2, 0.8, 0.2, 1);
  font-size: 1.3125rem;
  line-height: 1.25;
  letter-spacing: -0.01em;
  font-weight: 600;
  padding: 0.5em 1.15em;
  color: #fff;
  border-color: #e44232;
  background-color: #e44232;
}

.mainButtonStyle {
  margin: 40;
  border-radius: 0;
  padding: 13.125em 30.188;
}

.navLinks {
  font-family: 'Montserrat';
  color: #d5b02d;
}

p {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3125rem;
  letter-spacing: -0.01em;
}

.inputokr {
  max-width: 700px;
}
